option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 2000
  aws:elasticbeanstalk:application:environment:
    BUNDLE_PATH: "vendor/bundle"
    BUNDLE_WITHOUT: "test:development"
    BUNDLE_DISABLE_SHARED_GEMS: 1
    RAILS_SKIP_MIGRATIONS: true
    RAILS_SKIP_ASSET_COMPILATION: true
    LOGGING: debug

container_commands:
  16_bundle_install:
    command: "bundle install"
  17_bundle_install:
    command: "yarn install"